@import "tailwindcss";

@font-face {
    font-family: "Irish Grover";
    src: url(../Assets/Fonts/IrishGrover-Regular.ttf);
}
@font-face{
    font-family: "Inder";
    src: url(../Assets/Fonts/Inder-Regular.ttf);
}
@theme{
    --font-irish: "Irish Grover", Arial, Helvetica, sans-serif;
    --font-inder: "Inder", Arial, Helvetica, sans-serif;
}